.test {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.datePickerWrapper {
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.wrapper.basic {
  position: absolute;
  content: "";
  left: -20px;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 2px 5px 1px #f0f0f0;
}
.wrapper.basic.bottom {
  top: 40px;
}
.wrapper.basic.top {
  bottom: 70px;
}

.inputWrapper {
  display: flex;
  flex: 1;

  align-items: center;
  margin-bottom: 30px;
}

.inputLabel {
  margin-right: 30px;
  font-size: 13px;
}

.inputBasicWrapper {
  position: relative;
  /* min-width: 200px; */
  flex: 1;
}

.inputValue {
  width: 100%;
  height: 28px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
}

.inputValue:focus {
  border: 1px solid #8b8b8b;
  outline: 0px;
}

.calendarWrapper {
  flex: 1;
}

.calendarHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  margin-bottom: 10px;
}

.calendarHeaderBtn {
  width: 40px;
  padding: 6px 14px;
  border-radius: 4px;
  font-size: 20px;
  opacity: 0.4;
}

.calendarHeaderBtn.disabled:hover {
  background-color: transparent;
}

.calendarHeaderBtn:hover {
  background-color: #eee;
  opacity: 1;
}

.calendarHeaderTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  margin: 0px 5px;
  padding: 6px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.calendarHeaderTitle:hover {
  background-color: #eee;
}

.calendarDateWrapper {
  min-height: 235px;
}

.calendarDateLargeUnitWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.calendarDateLargeUnitContent {
  width: calc((100% - 16px) / 4);
  display: flex;
  justify-content: center;
  padding: 8% 0;
  margin: 2px;
  font-size: 14px;
  cursor: pointer;
}

.calendarDateLargeUnitContent:hover {
  background-color: #eee;
}

.calendarDateLargeUnitContent.highlight {
  background-color: #1890ff;
  color: white;
}

.calendarDateLargeUnitContent.disabled {
  color: #999;
}

.calendarDateDayUnitWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}

.calendarDateDayUnitHeader {
  display: flex;
  justify-content: center;
  width: calc(100% / 7);
  font-size: 16px;
}

.calendarDateDayUnitContentWrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 250px;
  height: 205px;
}

.calendarDateDayUnitContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 7);
  font-size: 14px;
  cursor: pointer;
}
.calendarDateDayUnitContent:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.calendarDateDayUnitContent:hover {
  background-color: #eee;
}

.calendarDateDayUnitContent.highlight {
  background-color: #1890ff;
  color: white;
}

.calendarDateDayUnitContent.disabled {
  color: #999;
}

.calendarDateDayUnitContent.range {
  background-color: #e6ecff;
}

.calendarDateDayUnitContent.saturday {
  color: #3193fd;
}
.calendarDateDayUnitContent.saturday.disabled {
  color: #999;
}
.calendarDateDayUnitContent.saturday.highlight {
  background-color: #1890ff;
  color: white;
}

.calendarDateDayUnitContent.sunday {
  color: #bf1725;
}
.calendarDateDayUnitContent.sunday.disabled {
  color: #999;
}
.calendarDateDayUnitContent.sunday.highlight {
  background-color: #1890ff;
  color: white;
}
